In [2]:
import pandas as pd
import numpy as np

In [3]:
dates = pd.date_range('2023-01-01', periods=5)
tickers = ['AAPL', 'MSFT', 'GOOGL']

index = pd.MultiIndex.from_product([dates, tickers], names=['date', 'ticker'])
data = pd.DataFrame({'price': [100, 200, 300, 400, 500] * 3}, index=index)
data

                   price
date       ticker
2023-01-01 AAPL      100
           MSFT      200
           GOOGL     300
2023-01-02 AAPL      400
           MSFT      500
           GOOGL     100
2023-01-03 AAPL      200
           MSFT      300
           GOOGL     400
2023-01-04 AAPL      500
           MSFT      100
           GOOGL     200
2023-01-05 AAPL      300
           MSFT      400
           GOOGL     500

In [4]:
markets = ['NYSE', 'NASDAQ']
index = pd.MultiIndex.from_product([dates, tickers, markets], names=['date', 'ticker', 'market'])
data = pd.DataFrame({'price': np.random.rand(30)}, index=index)
data

                             price
date       ticker market
2023-01-01 AAPL   NYSE    0.053831
                  NASDAQ  0.779315
           MSFT   NYSE    0.065380
                  NASDAQ  0.936041
           GOOGL  NYSE    0.331738
                  NASDAQ  0.224424
2023-01-02 AAPL   NYSE    0.868992
                  NASDAQ  0.535797
           MSFT   NYSE    0.191076
                  NASDAQ  0.956501
           GOOGL  NYSE    0.652472
                  NASDAQ  0.363610
2023-01-03 AAPL   NYSE    0.423257
                  NASDAQ  0.402291
           MSFT   NYSE    0.577102
                  NASDAQ  0.191732
           GOOGL  NYSE    0.114928
                  NASDAQ  0.973391
2023-01-04 AAPL   NYSE    0.116299
                  NASDAQ  0.955916
           MSFT   NYSE    0.909879
                  NASDAQ  0.232442
           GOOGL  NYSE    0.650175
                  NASDAQ  0.347022
2023-01-05 AAPL   NYSE    0.383586
                  NASDAQ  0.475880
           MSFT   NYSE    0.749236
                  NASDAQ  0.485541
           GOOGL  NYSE    0.569549
                  NASDAQ  0.931661

In [5]:
# Aggregate data by market
market_data = data.groupby(level='market').mean()
market_data

           price
market
NASDAQ  0.586104
NYSE    0.443833

In [6]:
metrics = ['price', 'volume']
index = pd.MultiIndex.from_product([dates, tickers, metrics], names=['date', 'ticker', 'metric'])
data = pd.DataFrame({'value': np.random.rand(30)}, index=index)
data

                             value
date       ticker metric
2023-01-01 AAPL   price   0.307550
                  volume  0.215915
           MSFT   price   0.681898
                  volume  0.144790
           GOOGL  price   0.015190
                  volume  0.108294
2023-01-02 AAPL   price   0.482072
                  volume  0.298479
           MSFT   price   0.460650
                  volume  0.213357
           GOOGL  price   0.779870
                  volume  0.866310
2023-01-03 AAPL   price   0.116302
                  volume  0.466280
           MSFT   price   0.144462
                  volume  0.787854
           GOOGL  price   0.661979
                  volume  0.001426
2023-01-04 AAPL   price   0.696590
                  volume  0.546195
           MSFT   price   0.186413
                  volume  0.892760
           GOOGL  price   0.088313
                  volume  0.269338
2023-01-05 AAPL   price   0.638592
                  volume  0.621925
           MSFT   price   0.171486
                  volume  0.884605
           GOOGL  price   0.668590
                  volume  0.966801

In [7]:
# Accessing price data for a specific ticker
price_data = data.xs('price', level='metric').xs('AAPL', level='ticker')
price_data

               value
date
2023-01-01  0.307550
2023-01-02  0.482072
2023-01-03  0.116302
2023-01-04  0.696590
2023-01-05  0.638592

In [9]:
# Sample data
dates = pd.date_range('20230101', periods=5)
tickers = ['AAPL', 'MSFT', 'GOOGL']
metrics = ['price', 'volume', 'pe_ratio']

index = pd.MultiIndex.from_product([dates, tickers, metrics], names=['date', 'ticker', 'metric'])
data = np.random.randn(45, 1)

df = pd.DataFrame(data, index=index, columns=['value'])
df

                               value
date       ticker metric
2023-01-01 AAPL   price     1.502044
                  volume   -0.417702
                  pe_ratio -0.820823
           MSFT   price    -0.988042
                  volume   -2.312545
                  pe_ratio  1.843493
           GOOGL  price    -0.321397
                  volume   -2.375082
                  pe_ratio  1.188368
2023-01-02 AAPL   price     0.715105
                  volume   -0.077825
                  pe_ratio -0.066235
           MSFT   price    -1.074301
                  volume    1.416444
                  pe_ratio -0.473034
           GOOGL  price     1.076982
                  volume   -1.007348
                  pe_ratio  0.327147
2023-01-03 AAPL   price     0.552653
                  volume   -0.381837
                  pe_ratio  0.297931
           MSFT   price    -0.146289
                  volume    1.493529
                  pe_ratio  0.135315
           GOOGL  price    -1.054056
                  volume   -1.038322
                  pe_ratio  1.731570
2023-01-04 AAPL   price     1.080577
                  volume   -1.204563
                  pe_ratio -1.324295
           MSFT   price     0.969268
                  volume   -1.166641
                  pe_ratio -0.211415
           GOOGL  price     1.429146
                  volume    0.920192
                  pe_ratio -1.587323
2023-01-05 AAPL   price     0.435815
                  volume   -0.177522
                  pe_ratio -0.926084
           MSFT   price    -1.257673
                  volume   -0.740597
                  pe_ratio  0.216235
           GOOGL  price    -0.185404
                  volume    0.348910
                  pe_ratio  0.092856

In [10]:
# Selecting price and volume data for a specific stock
aapl_data = df.xs('AAPL', level='ticker').unstack(level='metric')[['value']]
aapl_data

               value
metric      pe_ratio     price    volume
date
2023-01-01 -0.820823  1.502044 -0.417702
2023-01-02 -0.066235  0.715105 -0.077825
2023-01-03  0.297931  0.552653 -0.381837
2023-01-04 -1.324295  1.080577 -1.204563
2023-01-05 -0.926084  0.435815 -0.177522

In [11]:
# Resampling to get monthly data for each stock
monthly_data = df['value'].unstack(level='ticker').resample('M', level='date').mean()
monthly_data

ticker          AAPL     GOOGL      MSFT
date
2023-01-31 -0.054184 -0.030251 -0.153083

In [15]:
sectors = ['Technology', 'Technology', 'Healthcare']
index = pd.MultiIndex.from_product([dates, tickers, sectors], names=['date', 'ticker', 'sector'])
data = pd.DataFrame(np.random.randn(45, 1), index=index, columns=['price'])
data

                                 price
date       ticker sector
2023-01-01 AAPL   Technology  0.122233
                  Technology  0.027022
                  Healthcare  2.061896
           MSFT   Technology -0.953582
                  Technology  0.743930
                  Healthcare -1.927904
           GOOGL  Technology -0.610980
                  Technology -0.654475
                  Healthcare  0.391553
2023-01-02 AAPL   Technology -1.338338
                  Technology  0.387285
                  Healthcare -1.589638
           MSFT   Technology  0.445515
                  Technology  2.435738
                  Healthcare -2.315138
           GOOGL  Technology -0.705207
                  Technology -0.414109
                  Healthcare  0.340078
2023-01-03 AAPL   Technology  0.179449
                  Technology  1.104723
                  Healthcare  0.149604
           MSFT   Technology  0.229340
                  Technology  0.386534
                  Healthcare  1.369631
           GOOGL  Technology  0.166485
                  Technology  0.687415
                  Healthcare -0.463224
2023-01-04 AAPL   Technology -0.294600
                  Technology -1.687232
                  Healthcare  2.114554
           MSFT   Technology  0.082688
                  Technology  0.276324
                  Healthcare  1.601305
           GOOGL  Technology  1.635137
                  Technology -1.068436
                  Healthcare -0.358200
2023-01-05 AAPL   Technology -0.058711
                  Technology -0.909928
                  Healthcare -0.077623
           MSFT   Technology  0.616112
                  Technology  0.725989
                  Healthcare -0.236913
           GOOGL  Technology  1.024111
                  Technology -1.567605
                  Healthcare -0.318565

In [17]:
# Aggregating data by sector
sector_data = data.groupby(level='sector').mean()
sector_data

               price
sector
Healthcare  0.049428
Technology  0.033761

In [18]:
countries = ['USA', 'USA', 'Germany']
index = pd.MultiIndex.from_product([dates, tickers, countries], names=['date', 'ticker', 'country'])
data = pd.DataFrame(np.random.randn(45, 1), index=index, columns=['price'])
data

                              price
date       ticker country
2023-01-01 AAPL   USA     -0.537538
                  USA      0.849710
                  Germany -0.804764
           MSFT   USA     -1.248027
                  USA      0.622485
                  Germany  0.452778
           GOOGL  USA      0.107678
                  USA     -0.365867
                  Germany -0.970064
2023-01-02 AAPL   USA     -1.139609
                  USA     -0.362218
                  Germany  0.375805
           MSFT   USA     -0.425032
                  USA     -1.116441
                  Germany  0.673821
           GOOGL  USA     -0.390749
                  USA     -1.071840
                  Germany  1.070357
2023-01-03 AAPL   USA      0.375044
                  USA     -0.055769
                  Germany  0.880616
           MSFT   USA      0.377906
                  USA      1.139388
                  Germany -1.073340
           GOOGL  USA      0.172204
                  USA     -1.011728
                  Germany -1.609933
2023-01-04 AAPL   USA     -0.734053
                  USA     -0.650695
                  Germany -0.176124
           MSFT   USA     -1.256716
                  USA     -1.525135
                  Germany  0.271082
           GOOGL  USA      0.182089
                  USA      1.134355
                  Germany  1.050106
2023-01-05 AAPL   USA      1.207463
                  USA     -1.716508
                  Germany  1.271848
           MSFT   USA      0.517917
                  USA      0.469389
                  Germany  1.199250
           GOOGL  USA      2.194224
                  USA      1.699648
                  Germany -1.635358

In [19]:
# Accessing data for a specific country
usa_data = data.xs('USA', level='country')
usa_data

                      price
date       ticker
2023-01-01 AAPL   -0.537538
           AAPL    0.849710
           MSFT   -1.248027
           MSFT    0.622485
           GOOGL   0.107678
           GOOGL  -0.365867
2023-01-02 AAPL   -1.139609
           AAPL   -0.362218
           MSFT   -0.425032
           MSFT   -1.116441
           GOOGL  -0.390749
           GOOGL  -1.071840
2023-01-03 AAPL    0.375044
           AAPL   -0.055769
           MSFT    0.377906
           MSFT    1.139388
           GOOGL   0.172204
           GOOGL  -1.011728
2023-01-04 AAPL   -0.734053
           AAPL   -0.650695
           MSFT   -1.256716
           MSFT   -1.525135
           GOOGL   0.182089
           GOOGL   1.134355
2023-01-05 AAPL    1.207463
           AAPL   -1.716508
           MSFT    0.517917
           MSFT    0.469389
           GOOGL   2.194224
           GOOGL   1.699648

In [20]:
strikes = [100, 110, 120]
maturities = ['2023-06-01', '2023-12-01']
index = pd.MultiIndex.from_product([tickers, maturities, strikes], names=['ticker', 'maturity', 'strike'])
option_data = pd.DataFrame(np.random.randn(18, 1), index=index, columns=['option_price'])
option_data

                          option_price
ticker maturity   strike
AAPL   2023-06-01 100         1.129385
                  110         0.322226
                  120        -1.395473
       2023-12-01 100         0.561488
                  110        -1.809123
                  120         0.616178
MSFT   2023-06-01 100        -0.688668
                  110         0.438777
                  120        -0.343292
       2023-12-01 100         0.851970
                  110         2.009948
                  120        -1.165137
GOOGL  2023-06-01 100        -1.810481
                  110        -1.208068
                  120         0.486310
       2023-12-01 100        -1.360095
                  110         2.840843
                  120        -0.240653