In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('2023-01-01', periods=5)
tickers = ['AAPL', 'MSFT', 'GOOGL']

index = pd.MultiIndex.from_product([dates, tickers], names=['date', 'ticker'])
data = pd.DataFrame({'price': [100, 200, 300, 400, 500] * 3}, index=index)
data

                   price
date       ticker
2023-01-01 AAPL      100
           MSFT      200
           GOOGL     300
2023-01-02 AAPL      400
           MSFT      500
           GOOGL     100
2023-01-03 AAPL      200
           MSFT      300
           GOOGL     400
2023-01-04 AAPL      500
           MSFT      100
           GOOGL     200
2023-01-05 AAPL      300
           MSFT      400
           GOOGL     500

In [3]:
markets = ['NYSE', 'NASDAQ']
index = pd.MultiIndex.from_product([dates, tickers, markets], names=['date', 'ticker', 'market'])
data = pd.DataFrame({'price': np.random.rand(30)}, index=index)
data

                             price
date       ticker market
2023-01-01 AAPL   NYSE    0.718493
                  NASDAQ  0.211479
           MSFT   NYSE    0.579799
                  NASDAQ  0.993343
           GOOGL  NYSE    0.352513
                  NASDAQ  0.495157
2023-01-02 AAPL   NYSE    0.295017
                  NASDAQ  0.169453
           MSFT   NYSE    0.363386
                  NASDAQ  0.626284
           GOOGL  NYSE    0.989375
                  NASDAQ  0.423254
2023-01-03 AAPL   NYSE    0.296370
                  NASDAQ  0.233764
           MSFT   NYSE    0.187696
                  NASDAQ  0.552706
           GOOGL  NYSE    0.918926
                  NASDAQ  0.182106
2023-01-04 AAPL   NYSE    0.769358
                  NASDAQ  0.245732
           MSFT   NYSE    0.706338
                  NASDAQ  0.290103
           GOOGL  NYSE    0.163173
                  NASDAQ  0.424739
2023-01-05 AAPL   NYSE    0.809510
                  NASDAQ  0.982750
           MSFT   NYSE    0.382070
                  NASDAQ  0.412768
           GOOGL  NYSE    0.273095
                  NASDAQ  0.998178

In [4]:
# Aggregate data by market
market_data = data.groupby(level='market').mean()
market_data

           price
market
NASDAQ  0.482788
NYSE    0.520341

In [5]:
metrics = ['price', 'volume']
index = pd.MultiIndex.from_product([dates, tickers, metrics], names=['date', 'ticker', 'metric'])
data = pd.DataFrame({'value': np.random.rand(30)}, index=index)
data

                             value
date       ticker metric
2023-01-01 AAPL   price   0.479360
                  volume  0.111560
           MSFT   price   0.413794
                  volume  0.120886
           GOOGL  price   0.517759
                  volume  0.470923
2023-01-02 AAPL   price   0.217122
                  volume  0.238946
           MSFT   price   0.776994
                  volume  0.816240
           GOOGL  price   0.208927
                  volume  0.601274
2023-01-03 AAPL   price   0.622420
                  volume  0.134193
           MSFT   price   0.016360
                  volume  0.271787
           GOOGL  price   0.070696
                  volume  0.181005
2023-01-04 AAPL   price   0.771895
                  volume  0.314563
           MSFT   price   0.956531
                  volume  0.218691
           GOOGL  price   0.327248
                  volume  0.830247
2023-01-05 AAPL   price   0.305465
                  volume  0.286378
           MSFT   price   0.481503
                  volume  0.854270
           GOOGL  price   0.113045
                  volume  0.871049

In [6]:
# Accessing price data for a specific ticker
price_data = data.xs('price', level='metric').xs('AAPL', level='ticker')
price_data

               value
date
2023-01-01  0.479360
2023-01-02  0.217122
2023-01-03  0.622420
2023-01-04  0.771895
2023-01-05  0.305465