In [21]:
import csv
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

In [22]:
with open('stockprice.txt', 'r') as file:
    data = file.read()

lines = data.split('\n')
split_data = [line.split(',') for line in lines]
split_data = split_data[:-1]
split_data

[['Date', 'Open', 'High', 'Low', 'Close', 'Volume'],
 ['2023-01-01', '100', '102', '99', '101', '5000'],
 ['2023-01-02', '101', '103', '100', '102', '5500'],
 ['2023-01-03', '102', '104', '101', '103', '6000'],
 ['2023-01-04', '103', '105', '102', '104', '6200'],
 ['2023-01-05', '104', '106', '103', '105', '6500']]

In [23]:
with open('stockprice.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(split_data)

In [24]:
df = pd.read_csv('stockprice.txt')
df

         Date  Open  High  Low  Close  Volume
0  2023-01-01   100   102   99    101    5000
1  2023-01-02   101   103  100    102    5500
2  2023-01-03   102   104  101    103    6000
3  2023-01-04   103   105  102    104    6200
4  2023-01-05   104   106  103    105    6500

In [31]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
import random

# Set the seed for reproducibility
random.seed(0)

# Generate dates for one year
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 12, 31)
delta = end_date - start_date

date_list = [start_date + timedelta(days=i) for i in range(delta.days + 1)]

# Generate stock data
data = {
    'Date': [],
    'Open': [],
    'High': [],
    'Low': [],
    'Close': [],
    'Volume': []
}

for date in date_list:
    if date.weekday() < 5:  # Assuming stock market is closed on weekends
        open_price = random.uniform(100, 200)  # Random open price between 100 and 200
        close_price = open_price + random.uniform(-10, 10)  # Close price within $10 of open
        high_price = max(open_price, close_price) + random.uniform(0, 5)  # High within $5 of higher of open/close
        low_price = min(open_price, close_price) - random.uniform(0, 5)  # Low within $5 of lower of open/close
        volume = random.randint(1000, 10000)  # Random volume between 1000 and 10000

        data['Date'].append(date)
        data['Open'].append(open_price)
        data['High'].append(high_price)
        data['Low'].append(low_price)
        data['Close'].append(close_price)
        data['Volume'].append(volume)

df = pd.DataFrame(data)
df

          Date        Open        High         Low       Close  Volume
0   2023-01-02  184.442185  191.704131  183.147601  189.601273    9376
1   2023-01-03  148.592770  161.106721  143.753770  156.957456    6866
2   2023-01-04  158.338204  169.023896  156.929015  166.500462    2553
3   2023-01-05  161.836900  166.385631  151.933099  156.847026    3407
4   2023-01-06  131.014757  140.105583  127.594837  135.611392    8735
..         ...         ...         ...         ...         ...     ...
255 2023-12-25  151.008796  154.894392  141.212924  141.772436    3419
256 2023-12-26  177.832522  183.203712  177.700313  181.304340    8147
257 2023-12-27  156.804383  164.089032  152.191699  160.533006    6964
258 2023-12-28  151.025246  152.057452  148.986453  151.692211    6744
259 2023-12-29  196.605069  198.785245  192.880221  195.235891    4686

[260 rows x 6 columns]

In [26]:
df.dropna(inplace=True) 
df['Date'] = pd.to_datetime(df['Date'])

In [27]:
df['Daily_Return'] = df['Close'].pct_change(1)
df['MA50'] = df['Close'].rolling(window=50).mean()  # 50-day moving average
df['MA200'] = df['Close'].rolling(window=200).mean()  # 200-day moving average
df['Volatility'] = df['Daily_Return'].rolling(window=50).std() * np.sqrt(50)
df['Cumulative_Return'] = (1 + df['Daily_Return']).cumprod()

In [28]:
df

,Date,Open,High,Low,Close,Volume,Daily_Return,MA50,MA200,Volatility,Cumulative_Return
0,2023-01-02,184.442185,191.704131,183.147601,189.601273,9376,NaN,NaN,NaN,NaN,NaN
1,2023-01-03,148.592770,161.106721,143.753770,156.957456,6866,-0.172171,NaN,NaN,NaN,0.827829
2,2023-01-04,158.338204,169.023896,156.929015,166.500462,2553,0.060800,NaN,NaN,NaN,0.878161
3,2023-01-05,161.836900,166.385631,151.933099,156.847026,3407,-0.057978,NaN,NaN,NaN,0.827247
4,2023-01-06,131.014757,140.105583,127.594837,135.611392,8735,-0.135391,NaN,NaN,NaN,0.715245
...,...,...,...,...,...,...,...,...,...,...,...
255,2023-12-25,151.008796,154.894392,141.212924,141.772436,3419,-0.142260,151.282912,151.848341,2.301944,0.747740
256,2023-12-26,177.832522,183.203712,177.700313,181.304340,8147,0.278841,151.627372,152.267875,2.312129,0.956240
257,2023-12-27,156.804383,164.089032,152.191699,160.533006,6964,-0.114566,152.296625,152.112924,2.301441,0.846687
258,2023-12-28,151.025246,152.057452,148.986453,151.692211,6744,-0.055072,152.232904,152.181742,2.297077,0.800059
259,2023-12-29,196.605069,198.785245,192.880221,195.235891,4686,0.287053,152.416698,152.547444,2.304690,1.029718

In [29]:
start_date = '2020-01-01'
end_date = '2020-12-31'
mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
filtered_df = df.loc[mask]

In [30]:
df.describe()

,Date,Open,High,Low,Close,Volume,Daily_Return,MA50,MA200,Volatility,Cumulative_Return
count,260,260.000000,260.000000,260.000000,260.000000,260.000000,259.000000,211.000000,61.000000,210.000000,259.000000
mean,2023-07-01 12:00:00,151.949143,156.839336,147.109183,152.009049,5500.753846,0.050100,151.949190,151.955310,2.490274,0.800965
min,2023-01-02 00:00:00,100.246049,103.111839,86.467477,91.465903,1018.000000,-0.529013,146.270394,151.047401,1.935512,0.482412
25%,2023-04-02 06:00:00,128.145591,132.699483,122.731363,128.376601,3199.500000,-0.194691,149.616998,151.635009,2.289841,0.676606
50%,2023-07-01 12:00:00,154.109498,158.399467,148.613139,154.137918,5533.000000,-0.029768,151.741399,151.991571,2.485756,0.809399
75%,2023-09-29 18:00:00,180.060348,185.255152,174.902415,179.381825,7646.250000,0.220293,154.028001,152.181742,2.713856,0.944836
max,2023-12-29 00:00:00,199.818305,209.270783,197.104259,208.528773,9989.000000,1.054420,159.275098,152.712654,2.975727,1.099828
std,NaN,30.474122,30.520034,30.823607,30.862055,2639.861613,0.340111,3.064900,0.399326,0.251173,0.162619